@media screen and (max-width: 1200px) {


    .area-ranking {
        display: flex;
        flex-direction: column;
        max-width: 1200px;
    }

    .ranking-1, .ranking-2 {
        margin-top: 20px;
    }

    .logo img {
        width: 100px;
    }
}

@media screen and (max-width: 800px) {



    header {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    .area-ranking {
        margin: auto;
    }
}


@media screen and (max-width: 600px) {

    header {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    header h1 {
        font-size: 30px;
    }
    
    .area-ranking {
        margin-top: 20px;
        padding: 0;
        min-height: 100vh;
    }

    .ranking-1, .ranking-2 {
        min-height: 100vh;
        margin: 0px;
        padding: 10px;
        margin-top: 20px;
        height: 10vh;
        width: 100%;
    
    }
    
    .ranking-2 {
        min-height: 60vh;
        width: 100%;
    }

    table td, th {
        width: auto;
        height: auto;
    }

    img {
        display: flex;
        justify-content: center;
        margin: auto;
    }
}

@media screen and (max-width: 550px) {


    header {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    header h1 {
        font-size: 25px;
    }
    
    .area-ranking {
        margin-top: 20px;
        padding: 15px;
        min-height: 10vh;
    }

    .ranking-1, .ranking-2 {
        min-height: 100vh;
        margin: 0px;
        padding: 0px;
        margin-top: 20px;
        height: 10vh;
        width: 100%;
    
    }
    
    .ranking-2 {
        min-height: 60vh;
        width: 100%;
    }

    table td, th {
        width: auto;
        height: auto;
    }

}

@media screen and (max-width: 400px) {

    header {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    header h1 {
        font-size: 20px;
    }
    
    .area-ranking {
        margin-top: 20px;
        padding: 0;
        min-height: 100vh;
    }

    .ranking-1, .ranking-2 {
        min-height: 100vh;
        margin: 0px;
        padding: 0px;
        margin-top: 20px;
        height: 10vh;
        width: 100%;
    
    }
    
    .ranking-2 {
        height: 50vh;
        width: 100%;
    }

    table td, th {
        width: auto;
        height: auto;
    }

    img {
        display: flex;
        justify-content: center;
        margin: auto;
    }
}


