@font-face {
    font-family: 'JetBrains';
    src: url(fonts/JetBrains/JetBrainsMono-VariableFont_wght.ttf);
}


@font-face {
    font-family: 'Mont';
    src: url(fonts/MontSerrat/Montserrat-VariableFont_wght.ttf);
}
